body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#topbar {
    width: 100%;
    background-color: chocolate;
}

#middle {
    height: 100%;
}

#leftchoices {
    width: 75px;
    height: 100%;
    float: left;
    background-color: chocolate;
    button {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
        text-align: center;
    }

    img {
        margin-bottom: -5px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    svg {


        margin-bottom: -5px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

}

#ElementsList {
    overflow-y: scroll;
    float: left;
    height: 700px;
    background-color: blueviolet;
    padding-right: 10px;
}

.critters {
    border: 1px dashed black;
    background-color: #FFCC9948;
    padding: 5px;
    margin: 0;
    width: 120px;
    height: 60px;
    display: grid;
    grid-template-columns: 50px 70px;
    align-items: center;
    font-size: 12px;
    color: black;
    font-family: Helvetica;
    text-align: center;

    img {
        width: 50px;
    }
}

.elements {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
    padding: 0px;
    margin: 5px;
    width: 120px;
    height: 60px;
    display: grid;
    grid-template-columns: 50px 70px;
    align-items: center;
    font-size: 12px;
    color: black;
    font-family: Helvetica;
    text-align: center;
    user-select: none;

    img {
        width: 50px;
    }
}

.others {
    border: 1px solid black;
    padding: 5px;
    margin: 0;
    width: 120px;
    height: 60px;
    display: grid;
    grid-template-columns: 50px 70px;
    align-items: center;
    font-size: 12px;
    color: black;
    font-family: Helvetica;
    text-align: center;

    img {
        width: 50px;
    }
}

.buildings {
    border: 1px dashed black;
    background-color: #6666ff16;
    padding: 5px;
    margin: 0;
    width: 120px;
    height: 60px;
    display: grid;
    grid-template-columns: 50px 70px;
    align-items: center;
    font-size: 12px;
    color: black;
    font-family: Helvetica;
    text-align: center;

    img {
        width: 50px;
    }
}